Modul3/FLOW3.json
[
    {
        "id": "a252394437443f81",
        "type": "tab",
        "label": "Plytka 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c594857d0ee84af",
        "type": "group",
        "z": "a252394437443f81",
        "name": "Tryb auto",
        "style": {
            "stroke": "#ff0000",
            "label": true
        },
        "nodes": [
            "e4bac387c78247b4",
            "37f6da5551d7993e"
        ],
        "x": 534,
        "y": 939,
        "w": 532,
        "h": 82
    },
    {
        "id": "a21ce3cb24965e6a",
        "type": "group",
        "z": "a252394437443f81",
        "name": "Przetwarzanie danych",
        "style": {
            "stroke": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "d3f3a8ddc7f124bb",
            "7bed58ad416bba8e",
            "9b3798a618da85bd",
            "8d034841961efc41",
            "b4be7a8858162ae8",
            "5d2c6da7032a7cea"
        ],
        "x": 534,
        "y": 539,
        "w": 932,
        "h": 322
    },
    {
        "id": "d60daecf38ee1905",
        "type": "group",
        "z": "a252394437443f81",
        "name": "Tryb manual",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "265c449c162b2a6c",
            "6f175da08f8fabfc",
            "32d980ca09dfb215",
            "872eb4b4a3681b1b",
            "5cc4f061680c586d"
        ],
        "x": 1114,
        "y": 879,
        "w": 1132,
        "h": 262
    },
    {
        "id": "9b3798a618da85bd",
        "type": "ui-gauge",
        "z": "a252394437443f81",
        "g": "a21ce3cb24965e6a",
        "name": "Temperatura grzejnika",
        "group": "d08acf76a6f1a140",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 6,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura grzejnika",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "°C",
        "segments": [
            {
                "from": "0",
                "color": "#705cd6",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#2bff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#d92020",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "20",
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1340,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5d2c6da7032a7cea",
        "type": "mqtt in",
        "z": "a252394437443f81",
        "g": "a21ce3cb24965e6a",
        "name": "",
        "topic": "inzynierka/plytka3/in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "087a268cc3290e05",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "d3f3a8ddc7f124bb"
            ]
        ]
    },
    {
        "id": "d3f3a8ddc7f124bb",
        "type": "json",
        "z": "a252394437443f81",
        "g": "a21ce3cb24965e6a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "7bed58ad416bba8e",
                "b4be7a8858162ae8"
            ]
        ]
    },
    {
        "id": "7bed58ad416bba8e",
        "type": "function",
        "z": "a252394437443f81",
        "g": "a21ce3cb24965e6a",
        "name": "Tłumaczenie danych",
        "func": "//Parsowanie danych\nvar data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n\n//Wyjście dla funkcji sterowanie matą oraz template\nvar msg_temp = { \n    payload: data.t_mata,\n    topic: \"temp_mata\"\n};\n\n//Wyjście dla status grzejnika\nvar msg_status = { payload: data.heat == 1 ? \"GRZEJE\" : \"OFF\" };\n\nreturn [msg_temp, msg_status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 620,
        "wires": [
            [
                "9b3798a618da85bd",
                "872eb4b4a3681b1b"
            ],
            [
                "8d034841961efc41"
            ]
        ]
    },
    {
        "id": "37f6da5551d7993e",
        "type": "ui-number-input",
        "z": "a252394437443f81",
        "g": "1c594857d0ee84af",
        "group": "d08acf76a6f1a140",
        "name": "Zadana temperatura pokój",
        "label": "Zadaj temperaturę w pomieszczeniu",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": "15",
        "max": "30",
        "step": "0.5",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 680,
        "y": 980,
        "wires": [
            [
                "e4bac387c78247b4"
            ]
        ]
    },
    {
        "id": "265c449c162b2a6c",
        "type": "ui-switch",
        "z": "a252394437443f81",
        "g": "d60daecf38ee1905",
        "name": "Tryb manual",
        "label": "Tryb manual",
        "group": "d08acf76a6f1a140",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "mode",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 1000,
        "wires": [
            [
                "6f175da08f8fabfc",
                "872eb4b4a3681b1b"
            ]
        ]
    },
    {
        "id": "e4bac387c78247b4",
        "type": "mqtt out",
        "z": "a252394437443f81",
        "g": "1c594857d0ee84af",
        "name": "",
        "topic": "inzynierka/plytka3/target",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "087a268cc3290e05",
        "x": 930,
        "y": 980,
        "wires": []
    },
    {
        "id": "6f175da08f8fabfc",
        "type": "mqtt out",
        "z": "a252394437443f81",
        "g": "d60daecf38ee1905",
        "name": "",
        "topic": "inzynierka/plytka3/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "087a268cc3290e05",
        "x": 1450,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b4be7a8858162ae8",
        "type": "debug",
        "z": "a252394437443f81",
        "g": "a21ce3cb24965e6a",
        "name": "Podgląd danych",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 820,
        "wires": []
    },
    {
        "id": "8d034841961efc41",
        "type": "ui-template",
        "z": "a252394437443f81",
        "g": "a21ce3cb24965e6a",
        "group": "d08acf76a6f1a140",
        "page": "",
        "ui": "",
        "name": "Status grzejnika",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    /* Kontener główny */\n    .status-container {\n        width: 100%; \n        height: 100%; \n        display: flex; \n        justify-content: space-between; \n        align-items: center; \n        padding: 0 25px; \n        box-sizing: border-box; \n        background-color: #ffffff !important; \n        border-radius: 8px; \n        border: 2px solid #bbb;\n        box-shadow: 0 4px 8px rgba(0,0,0,0.2);\n    }\n\n    /* Etykieta po lewej */\n    .status-label {\n        font-size: 14px; \n        font-weight: bold; \n        color: #555; \n        text-transform: uppercase;\n    }\n\n    /* Wartość po prawej */\n    .status-value {\n        font-size: 22px; \n        font-weight: 900;\n    }\n\n    /* Animacja pulsowania dla grzania */\n    @keyframes heating-pulse { \n        0% { opacity: 1; color: #ff4500; } \n        50% { opacity: 0.6; color: #d32f2f; } \n        100% { opacity: 1; color: #ff4500; } \n    }\n</style>\n\n<div class=\"status-container\">\n    <div class=\"status-label\">\n        STATUS GRZEJNIKA:\n    </div>\n\n    <div class=\"status-value\"\n         ng-style=\"{\n            'color': (msg.payload || '').indexOf('GRZEJE') !== -1 ? '#ff4500' : '#777',\n            'animation': (msg.payload || '').indexOf('GRZEJE') !== -1 ? 'heating-pulse 1.5s infinite' : 'none'\n         }\">\n        {{ (msg.payload || '').indexOf('GRZEJE') !== -1 ? 'GRZEJNIK WŁĄCZONY' : 'GRZEJNIK WYŁĄCZONY' }}\n    </div>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 820,
        "wires": [
            [
                "872eb4b4a3681b1b"
            ]
        ]
    },
    {
        "id": "872eb4b4a3681b1b",
        "type": "function",
        "z": "a252394437443f81",
        "g": "d60daecf38ee1905",
        "name": "Sterowanie matą",
        "func": "//Pobierz stan z pamięciu lub ustaw domyślny\nlet target = context.get('target') || 25; //domyślnie 25 stopni\nlet mode = context.get('mode') || 0;\nlet temp = context.get('currentTemp') || 0;\nlet val = parseFloat(msg.payload);\n\n//Nadpisanie zmiennych jeśli przyjdzie poleceniee sterujące\nif (msg.topic === \"set_target\") context.set('target', target = val);\nif (msg.topic === \"mode\") context.set('mode', mode = val);\nif (msg.topic === \"temp_mata\") context.set('currentTemp', temp = val);\n\n//Porównanie wartości rzeczywistej i zadanej jeśli tryb manual\nif (mode === 1) {\n    let cmd = (temp < target) ? 1 : 0;\n    return { payload: cmd };\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 920,
        "wires": [
            [
                "5cc4f061680c586d",
                "388ab2d7edef91bf"
            ]
        ]
    },
    {
        "id": "5cc4f061680c586d",
        "type": "mqtt out",
        "z": "a252394437443f81",
        "g": "d60daecf38ee1905",
        "name": "",
        "topic": "inzynierka/plytka3/manual_power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "087a268cc3290e05",
        "x": 2080,
        "y": 920,
        "wires": []
    },
    {
        "id": "32d980ca09dfb215",
        "type": "ui-number-input",
        "z": "a252394437443f81",
        "g": "d60daecf38ee1905",
        "group": "d08acf76a6f1a140",
        "name": "Zadana temperatura grzejnika",
        "label": "Zadaj temperaturę grzejnika",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "set_target",
        "topicType": "str",
        "min": "20",
        "max": "60",
        "step": "0.5",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 1430,
        "y": 1100,
        "wires": [
            [
                "872eb4b4a3681b1b"
            ]
        ]
    },
    {
        "id": "388ab2d7edef91bf",
        "type": "debug",
        "z": "a252394437443f81",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2070,
        "y": 780,
        "wires": []
    },
    {
        "id": "d08acf76a6f1a140",
        "type": "ui-group",
        "name": "Ogrzewanie",
        "page": "c75d75e233e7572a",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "087a268cc3290e05",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.200",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c75d75e233e7572a",
        "type": "ui-page",
        "name": "Mój dom",
        "ui": "aa35322ef53bf599",
        "path": "/DOM",
        "icon": "home",
        "layout": "grid",
        "theme": "78552ff9b7d956e2",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "aa35322ef53bf599",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "78552ff9b7d956e2",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#517dc2",
            "primary": "#0094ce",
            "bgPage": "#d1e4ea",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "8eb4630ba8ec4a65",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]